@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

body,
html {
  background-color: #f0eeee;
  font-family: "Montserrat", sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  color: #202020;
  font-weight: 500;
}

/* colors and backgrounds */

.bg-white {
  background-color: #fff;
  border-radius: 4px !important;
  border: 1px solid #d3d2d2;
  box-shadow: 0 0 2px 0 #d3d2d2;
}

.text-primary {
  color: #205e61;
}
.text-secondary {
  color: #d61355;
}
.bg-primary {
  background-color: #205e61;
}
.bg-secondary {
  background-color: #d61355;
}

/* flex classes */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}

/* heights and widths */
.h-screen {
  height: 100vh;
}
.w-400 {
  width: 400px;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}

.m-1 {
  margin: 10px;
}
.m-2 {
  margin: 20px;
}
.m-3 {
  margin: 30px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* form-elements */
input , textarea , select{
  height: 45px !important;
  border: 1px solid #909090;
  padding-left: 15px;
  width: 100%;
  border-radius: 4px;
}

input:focus , textarea , select{
  outline: none;
  border: 1px solid #494949;
}

textarea{
  min-height: 100px;
  padding-top: 20px;
}

.contained-btn {
  height: 45px !important;

  background-color: black !important;
  color: white !important;
  text-transform: uppercase;
  padding: 0 20px;
  border-radius: 4px;
}

.outlined-btn {
  height: 45px !important;
 
  background-color: white !important;
  color: black !important;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 0 20px;
  border-radius: 4px;
}

/* 
text classes */

.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}

/* antd overriding */
.ant-form-item {
  margin-bottom: 8px !important;
}

/* spinner */

.spinner-parent {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000b5;
  z-index: 999;
}


hr{
  border: 1px solid #d3d2d2;
}